body{
	background:#e2e2e2!important;
}

.bg-primary{
	background: #009688 !important;
}

.banner{
	width:100%;
	height:93vh;
	/* linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../image/caller.jpg); */
	background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../image/caller.jpg);
	background-size:cover;
	color:white;
}

.my-card{
	padding:20px;
	background:#ffffff;
	
}

/* sidebar - style */
@media only screen and (max-width: 600px){
	
	sidebar{
	display: none;
	width: 80%!important;
	background: white;
	height: 100vh;
	position: fixed;
	padding-top: 20px;
}
	.content{
	margin-left:0%!important;
}
}
.sidebar{
	width:18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	z-index: 9999999999999999999999999999999;
}

.sidebar a{
	display:block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: gray;
}

.sidebar a:hover{
	background:#e2e2e2;
}

.sidebar .divider{
	height: .5px;
	width:100%;
	background: #e2e2e2;
	margin-top: 10px;
}

.content{
	margin-left:20%
}

.sidebar .crossBtn{
	position: absolute;
	top:0;
	right:35px;
	font-size: 36px;
	cursor: pointer;
}

.my_profile_picture{
	width:30px;
	height:30px;
	object-fit:cover;
	border-radius:50%;
	border:1px solid black;
}

/* search css */

.search-container{
	position:relative;
}

.search-result{
	position: absolute;
	background:white;
	width: 100%;
	padding:10px;
	border: 1px solid gray;
	display: none;
}

.list-group-item {
    display: block;
    padding: 5px 10px;
    margin-bottom: 5px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    text-decoration: none;
    color: #0080ff; /* Ensures text appears like typical hyperlink */
}

.list-group-item:hover {
    background-color: #ececec;
    color: #0080ff;
    text-decoration: underline; /* Adds underline on hover to emphasize it's clickable */
}

.active{
	background:#009688 !important;
	color:white!important;
}

